<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crud Completo | Create</title>
        <link rel="stylesheet" href="../static/css/adicionar.css">
    </head>
    <body>
        <header>
            <h1>Catálogo Teste</h1>
            <h2>CRUD Completo | Create</h2>
        </header>
        <main>
            <a href="/"><button>Cancelar</button></a>
            <form action="/adicionar" method="POST">
                <div>
                    <label for="name">Nome</label>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="quantidade">Quantidade</label>
                    <input type="text" name="quantidade" id="quantidade">
                </div>
                <div>
                    <label for="valor">Valor</label>
                    <input type="text" name="valor" id="valor">
                </div>
                <div>
                    <input type="file" name="image" id="image">
                </div>
                <button>Adicionar</button>
            </form>
        </main>
    </body>
</html>